<h1 class="head"> ALL THE STUDENTS</h1>
  <% for student in @students %>
 <p>First Name : <%=student.first_name()%> </p>
 <p>Second Name : <%=student.second_name()%> </p>
 <p>Age :  <%=student.age()%> </p>
 <p>House : <%=student.house().name%> </p>
 <button onclick="window.location.href = '/students/<%=student.id()%>/edit';">EDIT</button>
 <button onclick="window.location.href = '/students/<%=student.id()%>/delete';">DELETE</button>

 <hr>
 <% end %>
